
.header{
    display: flex;
    justify-content:space-between;
    background-color:;

}
.container{
    display:flex;
}
.nav ul{
    display:flex;
    list-style: none;
    gap:15px;
    color:white;
}
.nav a{
    text-decoration: none;
    color:;
}
.search ul{
    display:flex;
    list-style: none;
    gap:10px;
    margin-right:10px;

}