/* Footer.css */
footer {
  background-color: #141414; /* Dark background like Netflix */
  color: #808080; /* Greyish text */
  padding: 50px 0;
  width: 100%;
  font-family: Arial, sans-serif;
}

.Mcontainer {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}

.icons {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.icons .icon {
  color: white;
  cursor: pointer;
}

.list {
  display: flex;
  justify-content: bwtween;
  flex-wrap: wrap;
  gap: 40px;
}

.list ul {
  list-style: none;
  padding: 0;
  flex: 1;
  min-width: 150px;
}

.list li {
  font-size: 13px;
  margin-bottom: 12px;
  cursor: pointer;
}

.list li:hover {
  text-decoration: underline;
}